<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">My Library</h1>
            <p class="lead">A little app to organize books in our house.</p>
            <p>
            </p>

            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/allbooks">See All Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MyFavorites">My Favorites</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>

<!--Footer-->
<footer class="page-footer font-small  pt-4 mt-4" style="background-color:#808080">
    <div class="container">
        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left" >
            <div class="row">

                <!--First column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase">My Library</h5>

                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-6">
                    <h5 class="text-uppercase">Resources</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
    </div>

</footer>
<!--/.Footer-->
