@model MyLibraryWebApp.ViewModels.AuthorViewModel
@{
    ViewData["Title"] = "AuthorResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuthorResult</h2>

<p>@Model.Author.FullAuthorName</p>