@model MyLibraryWebApp.ViewModels.AuthorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Search for a book:</div>
            <div class="card-body">
                <h5 class="card-title">Search by:</h5>




                <form method="get" action="@Url.Action("AuthorResult", "Home")">
                    <p class="card-text">

                        <div>
                            Search by:
                            Author   @Html.RadioButton("SearchType", "Author")
                            Title @Html.RadioButton("SearchType", "Title")
                        </div>
                    </p>


                    <input type="text" value="" name="SearchInput" class="form-control" id="searchBox" aria-describedby="searchBox" placeholder="Enter Author or Title">
                    <br />
                    <button type="submit"  class="btn btn-primary">Search</button>

                </form>
       

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Got a new book?</div>
            <div class="card-body">
                <h5 class="card-title">Add A New Book</h5>
                <p class="card-text">Keep the library growing!</p>
                <a href ="/home/create" class="btn btn-primary" >Create Book</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>



    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Author Resuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    @*@Model.Author.FullAuthorName*@
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
