@model MyLibraryWebApp.ViewModels.TitleResultsViewModel
@{
    ViewData["Title"] = "TitleResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Title Search Results:</h3>

<table>
    @foreach (var book in Model.BooksByTitle)
    {
        <tr>
            <td>@book.Title</td>

            <td>
                <a href="/home/details/@book.Type/@book.Id">  Details</a>
            </td>
        </tr>

    }
</table>

